# Local Mongo:
MONGO_URL="mongodb://localhost:27017"
# Or MongoDB Atlas (replace user/pass/cluster):
# MONGO_URL="mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority"

DB_NAME="ryhavean_youtube"
CORS_ORIGINS="*"
JWT_SECRET="change-me-to-a-random-64-char-string"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="change-me-on-first-deploy"

